*{
	box-sizing: border-box;
}
html{
	font-size: 10px;
}
body{
	background-color: #F1F1F1;
	color: #C2C2C2;
	font-family: Arial, sans-serif;
}

.search {
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
}


.form {
	font-size:95px;
	width: 90%;
	display: inline-block;
	font-weight: 600;
	border: none;
	background-color: transparent;
	outline: none;
	color: #ec5a62;
	vertical-align: middle;
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.btn {
	display: inline-block;
	width: 80px;
	height: 80px;
	background: transparent url('magnifier.svg') no-repeat center center;
	border: none;
	outline: none;
	vertical-align: middle;
	-webkit-appearance: none;
	transition: all .2s ease-in-out;
}

.btn:hover {
	transform: scale(1.3)
}

input[type="search"]::-webkit-input-placeholder {
    color: #c2c2c2;
}

h2 {
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: 700;
}
.container{
	margin: 50px 60px 40px 160px;
	width: 80%;
}
.aside{
	display: inline-block;
	width: 30%;
}
.list{
	list-style-type: none;
	padding: 0;
}
ul li a{
	background-color: rgba(118,117,128,0.05);
	display: block;
	padding: 10px;
	border-radius: 8px;
	text-decoration: none;
	font-size: 1.4rem;
	color: #c2c2c2;
	font-weight: 600;
	margin-bottom: 5px;
}
.aside--indent{
	margin-left: 50px;
}
span{
	padding-left: 10px;
	vertical-align: middle;
	display: inline-block;
}
ul li img{
	vertical-align: middle;
	width: 50px;
}
.avatars{
	border-radius: 50%;
}
.aside a:hover{
	background-color: rgba(118,117,128,0.1);
	color: #ec5a62;
}